/* Global styles for full height */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    width: 100%;
}

.dashboardPers-sidebar-form{
    flex: 1; /* Take the remaining space */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.visites-list-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.visites-list-container h2 {
    margin-bottom: 20px;
    color: #333;
    text-align: center; /* Center the title */
}

.visites-list-container input {
    width: 150px; /* Adjust width */
    padding: 5px; /* Adjust padding */
    margin: 10px 5px; /* Adjust margin */
    border: 1px solid #5b9dd3;
    border-radius: 4px;
}

.visites-list-container button {
    width: auto; /* Adjust width */
    padding: 5px 10px; /* Adjust padding */
    background-color: #5b9dd3; /* Use the same color as table headers */
    color: white;
    font-weight: 500;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px; /* Adjust font size */
    transition: background-color 0.3s;
    margin: 5px; /* Adjust margin */
}

.visites-list-container button:hover {
    background-color: #0056b3;
}

.visites-list-container table {
    width: 40%;
    border-collapse: collapse;
    margin-top: 20px;
}

.dashboardPers-sidebar {
    flex: 0 0 250px; /* Sidebar width */
    background-color: #343a40; /* Sidebar background color */
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 100%; /* Full height of the container */
  }

.visites-list-container table th,
.visites-list-container table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

.visites-list-container table th {
    background-color: #5b9dd3;
    font-weight: bold;
}

.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.pagination-item {
    margin: 0 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.pagination-item:hover {
    background-color: #ddd;
}

.pagination-item.active {
    background-color: #007bff;
    color: white;
}

.pagination-item.disabled {
    color: #ddd;
    cursor: not-allowed;
}

.pagination-ellipsis {
    margin: 0 5px;
    padding: 5px 10px;
}

.visites-list-container .small-button {
    width: auto; /* Adjust width */
    padding: 5px 10px; /* Adjust padding */
    background-color: #5b9dd3; /* Use the same color as table headers */
    color: white;
    font-weight: 500;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px; /* Adjust font size */
    transition: background-color 0.3s;
    margin: 5px; /* Adjust margin */
}

.visites-list-container .small-button:hover {
    background-color: #0056b3;
}

.visites-list-container .table-cell-center {
    text-align: center;
    vertical-align: middle;
}
