.dashboardHyg-container {
  display: flex;
  height: 100vh; /* Assurez-vous que le conteneur prend toute la hauteur de la fenêtre */
}

.dashboardHyg-sidebar {
  width: 250px; /* Largeur fixe pour la sidebar */
  background-color: #333; /* Couleur de fond pour la sidebar */
  color: #fff; /* Couleur du texte pour la sidebar */
}

.dashboardHyg-content {
  flex: 1; /* Utilise tout l'espace restant */
  background-color: #f5f5f5; /* Couleur de fond pour le contenu principal */
  padding: 20px; /* Ajoute un espacement autour du contenu */
  overflow-y: auto; /* Permet de scroller si le contenu est trop grand */
}
