
.dashboard-container {
  background: url('personnel.png') no-repeat center center;
  background-size: cover; /* Assure que l'image couvre tout le conteneur */
  height: 100vh; /* Hauteur de la vue pour couvrir toute la hauteur de l'écran */
  width: 100vw; /* Largeur de la vue pour couvrir toute la largeur de l'écran */
  overflow: hidden; /* Empêche le défilement si l'image est plus grande que la vue */
  position: relative; /* Pour des ajustements futurs si nécessaire */
  width: 100%;
    display: flex;
    justify-content: center; /* Centrer horizontalement */
    align-items: center; /* Centrer verticalement */
}
